.sidenav {
}

#sidebar
  position: fixed
  z-index: 1
  top: 70px
  left: 0
  bottom: -100px
  width: sidebar-width
  background-color: #fafafa
  overflow-y: auto
  overflow-x: hidden
  padding: 0 5px
  -webkit-overflow-scrolling: touch
  margin-bottom: 100px;
  display: none
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 10px
  padding: 10px 0
  font-family: font-title
  font-weight: bold
  color: color-default
  text-transform: uppercase
  display: inline-block
  line-height: 1
  font-size: 15px

.sidebar-link
  margin-left: 10px
  font-family: font-title
  font-size: 13px
  display: block
  color: color-default
  text-decoration: none
  padding: 6px 0
  line-height: 1
  position: relative
  width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &.current
    color: color-link
  &:hover
    color: color-link-hover
    text-decoration: none
